.header{
  width:100%;
  height:30px;
  color:white;
  background-color:darkblue;
  position:fixed;
  text-align:left;
  padding-left:100px;
  margin-bottom:50px;
  /* margin-top:-15px; */
};

*{
  background-color: #F0F8FF;
  height: 100%;
  width: 100%;
}
